body{
    background-color: blueviolet;
    margin: 0;
}
.parent{
    position: relative;
    height: 300px;
    width: 300px;
    background-color: white;

}
.one{
    height: 100px;
    width: 100px;
    background-color: yellow;
    position: absolute;
    bottom: 200px;
    right: 10px;

}
.two{
    height: 100px;
    width: 100px;
    background-color: blue;
    position: absolute;
    top: 0px;
    left: 100px;

}
.three{
    height: 100px;
    width: 100px;
    background-color: red;
    position: absolute;
    top: 0;
}